* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: teal;
}

.cardAccount {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 35rem;
  width: 23rem;
  border-radius: 12px;
  padding: 2rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
}
form .password input {
  width: 100%;
}
form .auxData label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
form .auxData label input {
  border: none;
  border-bottom: 1px solid #c0c0c0;
}
form .auxData label .gender {
  transform: translateY(3px);
}
form .auxData label .gender span {
  font-size: 0.9em;
  padding: 0rem 0.5rem;
}
form .button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 1.5rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
form .button-link button {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 0;
  border-radius: 2rem;
  color: #fff;
  background: teal;
}
form .button-link button:hover {
  color: #fff;
}
form .button-link:active {
  opacity: 0.8;
}
form input {
  border: 1px solid #c0c0c0;
  padding: 0.2rem;
  margin-top: 0.5rem;
}
form p {
  margin-top: 0.4rem;
  padding-left: 0.5rem;
  font-size: 10px;
}
form a {
  margin-top: 0.2rem;
  padding-right: 0.5rem;
  text-align: end;
  text-decoration: underline;
  font-size: 10px;
  font-weight: bold;
  font-family: sans-serif;
  color: #747474;
  text-decoration-color: #747474;
  cursor: pointer;
}
form a:hover {
  color: #3a47aa;
  text-decoration-color: #3a47aa;
}

.buttons-container {
  text-align: center;
}
.buttons-container h2 {
  margin-bottom: 0.8rem;
  font-size: 16px;
  font-weight: 400;
}
.buttons-container .login-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.buttons-container .login-buttons button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  border: 1px solid teal;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s ease;
}
.buttons-container .login-buttons i {
  font-size: 2em;
  color: teal;
}

@media screen and (max-width: 425px) {
  .cardAccount {
    width: 20rem;
  }
  .cardAccount .gender {
    padding: 0rem;
  }
  .cardAccount form .auxData label .gender span {
    padding: 0rem;
  }
}/*# sourceMappingURL=signUp.css.map */