// General styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.background{

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;

    background-color: teal;
}

.cardAccount {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 35rem;
    width: 23rem;
    border-radius: 12px;
    padding: 2rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;


    .password{
        input{
            width: 100%;
        }
    }

    .auxData  label{
        
        display: flex;
        align-items: center;
        justify-content: space-between;

        input{
            border: none;
            border-bottom: 1px solid #c0c0c0;
        }

        .gender {
            transform: translateY(3px);

            span{
                font-size: 0.9em;
                padding: 0rem 0.5rem;
            }
        }
    }

    .button-link {
        display: inline-block;

        border: 0;
        border-radius: 2rem;
        padding: 0.6rem 0.9rem;
        margin-top: 2rem;

        background: teal;
        color: white;

        font-size: 1em;
        text-align: center;
        text-decoration: none;
        cursor: pointer;

        &:hover{
            color: #fff;
        }

        &:active {
            opacity: 0.8;
        }
    }

    input {
        border: 1px solid #c0c0c0;
        padding: 0.2rem;
        margin-top: 0.5rem;
    }

    p {
        margin-top: 0.4rem;
        padding-left: 0.5rem;
        font-size: 10px;
    }

    a {
        margin-top: 0.2rem;
        padding-right: 0.5rem;
        text-align: end;
        text-decoration: underline;
        font-size: 10px;
        font-weight: bold;
        font-family: sans-serif;
        color: #747474;
        text-decoration-color: #747474;
        cursor: pointer;

        &:hover {
            color: #3a47aa;
            text-decoration-color: #3a47aa;
        }
    }
}

.buttons-container {
    text-align: center;

    h2 {
        margin-bottom: 0.8rem;
        font-size: 16px;
        font-weight: 400;
    }

    .login-buttons {
        display: flex;
        justify-content: center;
        gap: 1rem;


        button {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.2rem;
            height: 3.2rem;
            border: 1px solid teal;
            border-radius: 50%;

            cursor: pointer;

            transition: background-color 0.3s, color 0.3s ease;
        }

        i {
            font-size: 2em;
            color: teal;
        }
    }
}

